@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  border-radius: 8px;
  background: #d1d8e8;
}
 .form-container {
width: 1000px;
} 
.title,
.slogan {
  text-align: center;
}
.btn{
  width: 100%;
}
 .auth-image{
  width: 100%;
  border-radius: 5px;
  margin-top: 20px;
  padding-left: 70px;
} 

.image-container {
  background-color: #eaf1ff;
  display: flex;
  align-items: flex-end;   /* push image to bottom */
   justify-content: center;
  padding-bottom: 40px;
  border-radius: 8px;
}

/* Make character bigger & cleaner */
.image-container {
  background-color: #adc2f1;
  display: flex;
  align-items: flex-end;
 justify-content: center;
  padding-bottom: 150px;
}  
